* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: sans-serif;
  margin: 20px;
}

img,
video {
  max-width: 100%;
  display: block;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
}

#slide-elements {
  display: grid;
  grid-column: 1;
  grid-row: 1;
}

#slide-elements > * {
  grid-column: 1;
  grid-row: 1;
  opacity: 0;
  visibility: 0;
}

#slide-elements > .active {
  opacity: 1;
  visibility: visible;
}

#slide {
  display: grid;
}

#slide-controls {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#slide-controls button {
  opacity: 0;
  appearance: none;
}
